@charset "UTF-8";
.body {
  text-decoration: none;
  color: black;
}

.gradient-color {
  background: linear-gradient(340deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}

.button {
  color: white;
  font-weight: 600;
}


.icon-color {
  opacity: 40%;
  padding-left:15px;
}

.body {
  text-decoration: none;
  color: black;
}

.gradient-color {
  background: linear-gradient(340deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
}

.button {
  color: white;
  font-weight: 600;
}

.fond-clair{
  background-color: #EEEEEE;
  margin:0px;
}

footer {
  color: white;
  background-color: black;
}

.Resto--img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Menu--carte {
  border-radius: 12px;
}

.function-num {
  background-color: rgb(147, 86, 220);
  color: white;
  font-size: 0.6em;
  width: 16px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #9356DC;
  position: relative;
  left: 10px;
  top : 15px;
  margin: 0;
  margin-top: 10px;
  padding-top: 2px;
  z-index: 1;
}

.function-button {
  display: flex;
  width: 100%;
  border-radius: 22px;
  background-color: rgba(245,245,245,.5);
  box-shadow: 2px 5px 5px 2px #CCC;
  padding: 25px 15px 25px 15px;
  margin: auto;
  margin-bottom: 10px;
  align-content: space-around;
  gap: 20px;
  font-weight: 600;
}

.fonction-line {
  width: 90%;
  margin-bottom : 20px;
}

.Resto-vignette {
  width: 100%;
  height: 225px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.Resto-visite {
  width: 100%;
  height: 200px;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  margin: 0;
  padding-bottom: 30px;
  margin-top: 40px;
}

ul > li {
  padding-top: 6px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin : 30px 20px 10px 10px;
  padding: 50px 0px 15px 0px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size:1.1em;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
  text-transform: uppercase;
}

h5 > span {
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 3px;
}

h1 {
  padding: 0px 10px 0px 10px;
  font-size: 1.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: black;
}



footer {
  font-size: 0.8em;
  text-decoration: none;
  border-top:10px solid black;
  margin:0px;
}

footer > h2 {
  padding-left: 35px;
  padding-top: 30px;
  font-weight: 500;
}

li > a {
  color: white;
}

.function-button:hover {
  background-color: rgba(147, 86, 220, 0.3);
}

.function-button:hover .icon-color {
  color: #9356DC;
}

.position_heart {
  position: relative;
  left: 88%;
  top: -70px;
}

.position_heart--title {
  position: relative;
  left: 91%;
  top: -50px;
}

.Favori {
  position: relative;
  visibility: visible;
  opacity: 1;
  /*left : 87%;
  top : -2.6em;*/
  font-size: 1.6em;
  z-index: 2;
  color: black;
  /*transition : color 0.1s 0.3s;*/
  /*transition : visibility 0.1s 0.7s;*/
  transition: opacity 0.8s;
}

.Favori2 {
  position: relative;
  left: -22px; /*
top : -2.6em;*/
  font-size: 1.6em;
  z-index: 1;
  background-image: linear-gradient(340deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  visibility: visible;
  transform: scale(0.1);
  transition: transform 0.8s;
  transition: opacity 0.6s 0.2s;
}

.Favori:active {
  content: "";
  opacity: 0;
  visibility: hidden;
}

.Favori:active + .Favori2 {
  content: "";
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

.position_heart {
  position: relative;
  left: 88%;
  top: -70px;
}

.position_heart--title {
  position: relative;
  left: 91%;
  top: -60px;
}

.Favori {
  position: relative;
  visibility: visible;
  opacity: 1;
  /*left : 87%;
  top : -2.6em;*/
  font-size: 1.3em;
  z-index: 2;
  color: black;
  /*transition : color 0.1s 0.3s;*/
  /*transition : visibility 0.1s 0.7s;*/
  transition: opacity 0.8s;
}

.Favori2 {
  position: relative;
  left: -22px; /*
top : -2.6em;*/
  font-size: 1.3em;
  z-index: 1;
  background-image: linear-gradient(340deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
  visibility: visible;
  transform: scale(0.1);
  transition: transform 0.8s;
  transition: opacity 0.6s 0.2s;
}

.Favori:active {
  content: "";
  opacity: 0;
  visibility: hidden;
}

.Favori:active + .Favori2 {
  content: "";
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

@-webkit-keyframes zoom_in {
  0% {
    transform: scale(0.92) translateY(25px);
    opacity: 10%;
  }
  98% {
    transform: scale(1.04) translateY(-3px);
    opacity: 98%;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 100%;
  }
}

@keyframes zoom_in {
  0% {
    transform: scale(0.97) translateY(20px);
    opacity: 40%;
  }
  98% {
    transform: scale(1.02) translateY(-2px);
    opacity: 98%;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 100%;
  }
}
@-webkit-keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.indiv_course:active > .Price_check  i {
  visibility: visible;
  display: inline-block;
  -webkit-animation: spinning 0.8s;
          animation: spinning 0.8s;
}

.indiv_course:active > .Price_check {
  visibility: visible;
  display: inline-block;
}

.appear {
  -webkit-animation: appear 3.8s;
          animation: appear 3.8s;
}

@-webkit-keyframes appear {
  0% {
    visibility: collapse;
    opacity: 0;
  }
  99% {
    visibility: collapse;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    visibility: collapse;
    opacity: 0;
  }
  99% {
    visibility: collapse;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  content: "";
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 120px;
  height: auto;
  z-index: 9;
  justify-content: center;
  background: linear-gradient(340deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-animation: disapear 4s 0s forwards 1;
          animation: disapear 4s 0s forwards 1;
}

@-webkit-keyframes disapear {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  92% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    visibility: collapse;
    opacity: 0;
    transform: scale(0);
    z-index: -10;
  }
}

@keyframes disapear {
  0% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  92% {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    visibility: collapse;
    opacity: 0;
    transform: scale(0);
    z-index: -10;
  }
}
.loading-picture {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  visibility: visible;
  z-index: 9;
}

.typewriter {
  padding-bottom: 20px;
}

.appear {
  -webkit-animation: appear 3.8s;
          animation: appear 3.8s;
}

@keyframes appear {
  0% {
    visibility: collapse;
    opacity: 0;
  }
  99% {
    visibility: collapse;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes disapear {
  0% {
    visibility: visible;
    opacity: 1;
  }
  96% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: collapse;
    opacity: 0; z-index:-99;
  }
}
.loading-picture {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  visibility: visible;
  z-index: 9;
}

.typewriter {
  padding-bottom: 20px;
}

.verreG {
  position: relative; /*dessin du fond du verre gauche*/
  display: block;
  left: 60px;
  top: 100px;
  content: "";
  width: 41px;
  height: 110px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: rgb(160, 160, 160);
  -webkit-animation: saluteG 1.7s ease 0.6s 5;
  animation: saluteG 1.7s ease 0.6s 5;
}

@-webkit-keyframes saluteG {
  0% {
    transform: translate(0px, -3px);
  }
  30% {
    transform: translate(15px, -24px) rotate(5deg);
  }
  100% {
    transform: translate(38px, -71px) rotate(15deg);
  }
}
@keyframes saluteG {
  0% {
    transform: translate(0px, -3px);
  }
  30% {
    transform: translate(15px, -24px) rotate(5deg);
  }
  100% {
    transform: translate(38px, -71px) rotate(15deg);
  }
}
@-webkit-keyframes salute_contenuG {
  0% {
    transform: translate(0px, -3px);
  }
  30% {
    transform: translate(15px, -24px) skew(-5deg);
  }
  100% {
    transform: translate(38px, -71px) skew(-15deg);
  }
}
@keyframes salute_contenuG {
  0% {
    transform: translate(0px, -3px);
  }
  30% {
    transform: translate(15px, -24px) skew(-5deg);
  }
  100% {
    transform: translate(38px, -71px) skew(-15deg);
  }
}
.verreG::before { /*dessin du pied du verre vertical*/
  position: relative;
  display: block;
  left: 18px;
  top: 110px;
  content: "";
  width: 4px;
  height: 30px;
  background: rgb(160, 160, 160);
}

.verreG::after { /*dessin du pied du verre horizontal*/
  position: relative;
  display: block;
  left: 1px;
  top: 110px;
  content: "";
  width: 36px;
  height: 3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  background: rgb(160, 160, 160);
}

.contenuG { /*dessin du contenu liquide*/
  position: relative;
  left: 62px;
  top: 12px;
  display: block;
  content: "";
  width: 36px;
  height: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: rgb(240, 240, 240);
  opacity: 60%;
  z-index: 2;
  -webkit-animation: pourring 1.8s 0s infinite, salute_contenuG 1.7s ease 0.6s 5;
  animation: pourring 1.8s 0s infinite, salute_contenuG 1.7s ease 0.6s 5;
}

@-webkit-keyframes pourring {
  0% {
    transform: scaleY(0);
  }
  5% {
    transform: scaleY(0.4);
  }
  15% {
    transform: scaleY(0.8);
  }
  30% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes pourring {
  0% {
    transform: scaleY(0);
  }
  5% {
    transform: scaleY(0.4);
  }
  15% {
    transform: scaleY(0.8);
  }
  30% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.contenuG::before { /*dessin d'une bulle*/
  position: relative;
  left: 10px;
  top: 80px;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  opacity: 40%;
  z-index: 3;
  -webkit-animation: bubble 1s ease-in 7;
  animation: bubble 1s ease-in 7;
}

.contenuG::after { /*dessin de la 2ème bulle*/
  position: relative;
  left: 16px;
  top: 85px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  opacity: 40%;
  z-index: 3;
  -webkit-animation: bubble 1.3s ease-in 7;
  animation: bubble 1.3s ease-in 7;
}

.verreD { /*dessin du verre droite*/
  position: relative;
  display: block;
  left: 200px;
  top: -90px;
  content: "";
  width: 41px;
  height: 110px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 1;
  background: rgb(160, 160, 160);
  -webkit-animation: saluteD 1.7s ease 0.6s 5;
  animation: saluteD 1.7s ease 0.6s 5;
}

@-webkit-keyframes saluteD {
  0% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(-15px, -25px) rotate(-5deg);
  }
  100% {
    transform: translate(-38px, -70px) rotate(-15deg);
  }
}
@keyframes saluteD {
  0% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(-15px, -25px) rotate(-5deg);
  }
  100% {
    transform: translate(-38px, -70px) rotate(-15deg);
  }
}
@-webkit-keyframes salute_contenuD {
  0% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(-15px, -25px) skew(5deg);
  }
  100% {
    transform: translate(-38px, -70px) skew(15deg);
  }
}
@keyframes salute_contenuD {
  0% {
    transform: translate(0px, -2px);
  }
  30% {
    transform: translate(-15px, -25px) skew(5deg);
  }
  100% {
    transform: translate(-38px, -70px) skew(15deg);
  }
}
.verreD::before { /*dessin du pied du verre D vertical*/
  position: relative;
  display: block;
  left: 18px;
  top: 110px;
  content: "";
  width: 4px;
  height: 30px;
  background: rgb(160, 160, 160);
}

.verreD::after { /*dessin du pied du verre D horizontal*/
  position: relative;
  display: block;
  left: 1px;
  top: 110px;
  content: "";
  width: 36px;
  height: 3px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  background: rgb(160, 160, 160);
}

.contenuD {
  position: relative;
  left: 202px;
  top: -180px;
  display: block;
  content: "";
  width: 36px;
  height: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: rgb(240, 240, 240);
  opacity: 60%;
  z-index: 2;
  -webkit-animation: pourring 1.8s 0s infinite, salute_contenuD 1.7s ease 0.6s 5;
  animation: pourring 1.8s 0s infinite, salute_contenuD 1.7s ease 0.6s 5;
}

.contenuD::before {
  position: relative;
  left: 10px;
  top: 80px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  opacity: 40%;
  z-index: 3;
  -webkit-animation: bubble 0.9s ease-in 0s 7;
  animation: bubble 0.9s ease-in 0s 7;
}

.contenuD::after {
  position: relative;
  left: 16px;
  top: 85px;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid rgb(160, 160, 160);
  opacity: 40%;
  z-index: 3;
  -webkit-animation: bubble 1.2s ease-in 0s 7;
  animation: bubble 1.2s ease-in 0s 7;
}

@-webkit-keyframes bubble {
  0% {
    opacity: 50%;
    transform: translate(3px, -3px) scale(0.1);
  }
  10% {
    opacity: 60%;
    transform: translate(-1px, -15px) scale(0.3);
  }
  30% {
    opacity: 80%;
    transform: translate(4px, -40px) scale(0.6);
  }
  60% {
    opacity: 100%;
    transform: translate(-2px, -60px) scale(0.8);
  }
  90% {
    opacity: 100%;
    transform: translate(2px, -75px) scale(1);
  }
}
@keyframes bubble {
  0% {
    opacity: 50%;
    transform: translate(3px, -3px) scale(0.1);
  }
  10% {
    opacity: 60%;
    transform: translate(-1px, -15px) scale(0.3);
  }
  30% {
    opacity: 80%;
    transform: translate(4px, -40px) scale(0.6);
  }
  60% {
    opacity: 100%;
    transform: translate(-2px, -60px) scale(0.8);
  }
  90% {
    opacity: 100%;
    transform: translate(2px, -75px) scale(1);
  }
}
.typewriter h1 {
  color: transparent;
  position: absolute;
  /*left : 24%;*/
  bottom: 60px;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.35em;
  z-index: 9;
  content: "";
  -webkit-animation: typing 4s steps(50, end);
          animation: typing 4s steps(50, end);
}

.typewriter h4 {
  color: transparent;
  position: absolute;
  /*left : 24%;*/
  bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
  font-size: 0.8em;
  letter-spacing: 0.12em;
  border-right: 0.1em solid transparent;
  z-index: 9;
  content: "";
  -webkit-animation: typing 2.9s .4s steps(50, end), blink_line 0.4s 1s step-end 10;
          animation: typing 2.9s .4s steps(50, end), blink_line 0.4s 1s step-end 10;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
    color: rgb(240, 240, 240);
  }
  100% {
    width: 100%;
    color: rgb(240, 240, 240);
  }
}

@keyframes typing {
  0% {
    width: 0;
    color: rgb(240, 240, 240);
  }
  100% {
    width: 100%;
    color: rgb(240, 240, 240);
  }
}
@-webkit-keyframes blink_line {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(240, 240, 240);
  }
}
@keyframes blink_line {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(240, 240, 240);
  }
}
body {
  max-width: 700px;
  margin: auto;
}

header {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.txt-centered {
  text-align: center;
  padding: 15px;
}
.txt-centered >h3{
  padding: 15px 50px 10px 50px;
  font-size: 1.2em;
  font-weight: 900;
}
.txt-centered >div{
  padding: 5px 30px 5px 30px;
}

.centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logo_header {
  display: flex;
  justify-content: space-between;
  padding : 10px;
  background: white;
}

.container {
  display: flex;
}

.center_header {
  flex-direction: row;
  justify-content: space-between;
}

.inL-B {
  display: inline-block;
}

.bigger_font {
  font-size: 1.3em;
  line-height: 1.5em;
  padding-top: 5px;
}

.logo_img {
  width: 60%;
  height: auto;
}

.localisation {
  background-color: #DDDDDD;
  box-shadow: inset 0px 3px 3px #CCC;
  padding: 15px;
}

.recherche {
  border: none;
}

input[type=text] {
  background-color: #DDDDDD;
  font-weight : 600;
}

.button {
  border-radius: 25px;
  border: 0px solid white;
  box-shadow: 2px 5px 5px 2px #CCC;
  width: 60%;
  margin: 30px auto 50px auto;
  padding: 20px 10px 20px 10px;
}

.button:hover {
  opacity: 60%;
}

.fonction-container {
  flex-direction: column;
}

.fonction-line {
  flex-direction: row;
}

.Resto-card {
  flex-direction: column;
  border-radius: 12px;
  border-color: #EEE;
  background-color: white;
  box-shadow: 2px 5px 5px 2px #CCC;
  width: 97%;
}

.Resto-Bloc {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-left: 10px;
  position: relative;
}

.Resto--txt {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
  padding-left:10px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.5;
}

.Resto-top {
  position: relative;
  top: -20px;
  margin: -5px 0px -10px 0px;
  border-radius: 16px;
  border: 1px solid #EEE;
  background: #EEE;
  padding: 0px;
  height: 80px;
  width: 100%;
}

.Bloc_Course {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap:10px;
  margin:auto;
  margin-bottom : 25px;
}

.indiv_course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  background: white;
  border: 1px solid white;
  box-shadow: 2px 2px 3px 1px #CCC;
  margin: 5px 0px 3px 0px;
  font-size: 0.85em;
  -webkit-animation: zoom_in 0.6s;
          animation: zoom_in 0.6s;
}

.Course_price {
  width: 35px;
  display: flex;
  align-self: end;
  padding: 10px;
  margin-bottom:10px;
  font-weight: 600;
  font-size:1.05em;
}

.Price_check {
  visibility: collapse;
  display: none;
  width: 35px;
  content: "";
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  border:1px solid #99E2D0;
  text-align: center;
  padding: 10px;
  font-size: 1.4em;
  color: white;
  margin: -1px;
}
.Price_check i{
  margin-top : 12px;
}

.indiv_txt {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.indiv_txt h4 {
  font-size: 1.2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

.Tag-Nouveau {
  position: absolute;
  right: 25px;
  top: 20px;
  max-width: 80px;
  background-color: #99E2D0;
  color: #6B9E91;
  padding-left: 10px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 600;
}

footer > ul {
  list-style-type: none;
}

.button_commande {
  display: grid;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 980px;
    display: grid;
    grid-template-columns: auto 560px;
    grid-gap: 0px;
    grid-template-rows: 100px auto auto auto;
  }
  .box1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .box2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .box3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .box4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .box5 {

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    grid-auto-flow: dense;
    gap: 0px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #EEE;
  }
  .Resto-card {
    width: 450px;
    height: 310px;
    margin: 10px 0px 20px 0px;
  }
  .box5 h3 {
    visibility: collapse;
    display: none;
  }
  .position_heart {
    position: relative;
    left: -10%;
    top: 250px;
  }
  .Tag-Nouveau {
    right: 140px;
  }
  .Resto-visite {
    height: 150px;
  }
}
@media screen and (min-width: 996px) {
  body {
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto 820px;
    grid-gap: 0px;
    grid-template-rows: 100px auto auto auto;
  }
  .box5 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    grid-auto-flow: dense; 
    gap: 0px;
   justify-content: space-evenly;
    flex-wrap: wrap;
    background: #EEE;
  }
  .Resto-card {
    width: 340px;
    height: 310px;
    margin: 10px 0px 20px 0px;
  }
  .position_heart {
    position: relative;
    left: -5%;
    top: 270px;
  }
  .Tag-Nouveau {
    right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */