 
  .verreG {
    position: relative;           /*dessin du fond du verre gauche*/
    display: block;
    left: 60px;
    top: 100px;
    content: "";
    width: 41px;
    height: 110px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    background: $loader-color-dark;
    transform-origin: 0, 0;
    -webkit-animation: saluteG 1.7s ease 0.6s 3;
            animation: saluteG 1.7s ease 0.6s 3;
  }
  
  @-webkit-keyframes saluteG {
    0% {transform: translate(0px, -3px);}
    30% {transform: translate(15px, -24px) rotate(5deg);}
    100% {transform: translate(38px, -71px) rotate(15deg);}
  }
  
  @keyframes saluteG {
    0% {transform: translate(0px, -3px);}
    30% {transform: translate(15px, -24px) rotate(5deg);}
    100% {transform: translate(38px, -71px) rotate(15deg);}
  }

  @-webkit-keyframes salute_contenuG {
     0% {transform: translate(0px, -3px);}
     30% {transform: translate(15px, -24px) skew(-5deg);}
     100% {transform: translate(38px, -71px) skew(-15deg);}
  }
  @keyframes salute_contenuG {
    0% {transform: translate(0px, -3px);}
    30% {transform: translate(15px, -24px) skew(-5deg);}
    100% {transform: translate(38px, -71px) skew(-15deg);}
  }

  .verreG::before {          /*dessin du pied du verre vertical*/
    position: relative;
    display: block;
    left: 18px;
    top: 110px;
    content: "";
    width: 4px;
    height: 30px;
    background: $loader-color-dark;
  }
  
  .verreG::after {          /*dessin du pied du verre horizontal*/
    position: relative;
    display: block;
    left: 1px;
    top: 110px;
    content: "";
    width: 36px;
    height: 3px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid $loader-color-dark;
    background: $loader-color-dark;
  }
  
  .contenuG {             /*dessin du contenu liquide*/
    position: relative; 
    left: 62px;
    top: 12px;
    display: block;
    content: "";
    width: 36px;
    height: 80px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: $loader-color-lighter;
    opacity: 60%;
    z-index: 2;
    -webkit-animation: pourring 1.8s 0s infinite, salute_contenuG 1.7s ease 0.6s 3;
            animation: pourring 1.8s 0s infinite, salute_contenuG 1.7s ease 0.6s 3;
  }
  
  @-webkit-keyframes pourring {
    0% {transform: scaleY(0);}
    5% {transform: scaleY(40%);}
    15% {transform: scaleY(80%);}
    30% {transform: scaleY(100%);}
    100% {transform: scaleY(100%);}
  }
  
  @keyframes pourring {
    0% {transform: scaleY(0);}
    5% {transform: scaleY(40%);}
    15% {transform: scaleY(80%);}
    30% {transform: scaleY(100%);}
    100% {transform: scaleY(100%);}
  }
  .contenuG::before {     /*dessin d'une bulle*/
    position: relative;
    left: 10px;
    top: 80px;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid $loader-color-dark;
    opacity: 40%;
    z-index: 3;
    -webkit-animation: bubble 1s ease-in 5;
            animation: bubble 1s ease-in 5;
  }
  
  .contenuG::after {        /*dessin de la 2ème bulle*/
    position: relative;
    left: 16px;
    top: 85px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid $loader-color-dark;
    opacity: 40%;
    z-index: 3;
    -webkit-animation: bubble 1.3s ease-in 4;
            animation: bubble 1.3s ease-in 4;
  }
  
  .verreD {                    /*dessin du verre droite*/
    position: relative; 
    display: block;
    left: 200px;
    top: -90px;
    content: "";
    width: 41px;
    height: 110px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    background: $loader-color-dark;
    transform-origin: 0, 0;
    -webkit-animation: saluteD 1.7s ease 0.6s 3;
            animation: saluteD 1.7s ease 0.6s 3;
  }
  
  @-webkit-keyframes saluteD {
    0% {transform: translate(0px, -2px);}
    30% {transform: translate(-15px, -25px) rotate(-5deg);}
    100% {transform: translate(-38px, -70px) rotate(-15deg);}
  }
  @keyframes saluteD {
    0% {transform: translate(0px, -2px);}
    30% {transform: translate(-15px, -25px) rotate(-5deg);}
    100% {transform: translate(-38px, -70px) rotate(-15deg);}
  }
  @-webkit-keyframes salute_contenuD {
    0% {transform: translate(0px, -2px);}
    30% {transform: translate(-15px, -25px) skew(5deg);}
    100% {transform: translate(-38px, -70px) skew(15deg);}
  }
  @keyframes salute_contenuD {
    0% {transform: translate(0px, -2px);}
    30% {transform: translate(-15px, -25px) skew(5deg);}
    100% {transform: translate(-38px, -70px) skew(15deg);}
  }

.verreD::before {        /*dessin du pied du verre D vertical*/
    position: relative;
    display: block;
    left: 18px;
    top: 110px;
    content: "";
    width: 4px;
    height: 30px;
    background: $loader-color-dark;
}
  
  .verreD::after {         /*dessin du pied du verre D horizontal*/
    position: relative;
    display: block;
    left: 1px;
    top: 110px;
    content: "";
    width: 36px;
    height: 3px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 1px solid $loader-color-dark;
    background: $loader-color-dark;
  }
  
  .contenuD {
    position: relative; 
    left: 202px;
    top: -180px;
    display: block;
    content: "";
    width: 36px;
    height: 80px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: $loader-color-lighter;
    opacity: 60%;
    z-index: 2;
    -webkit-animation: pourring 1.8s, salute_contenuD 1.7s ease 0.6s 3;
            animation: pourring 1.8s, salute_contenuD 1.7s ease 0.6s 3;
  }
  
  .contenuD::before {
    position: relative;
    left: 10px;
    top: 80px;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $loader-color-dark;
    opacity: 40%;
    z-index: 3;
    -webkit-animation: bubble 0.9s ease-in 0s 5;
            animation: bubble 0.9s ease-in 0s 5;
  }
  
  .contenuD::after {
    position: relative;
    left: 16px;
    top: 85px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid $loader-color-dark;
    opacity: 40%;
    z-index: 3;
    -webkit-animation: bubble 1.2s ease-in 0s 4;
            animation: bubble 1.2s ease-in 0s 4;
  }
  
  @-webkit-keyframes bubble {
    0% {opacity: 50%; transform: translate(3px, -3px) scale(0.1);}
    10% {opacity: 60%;transform: translate(-1px, -15px) scale(0.3);}
    30% {opacity: 80%;transform: translate(4px, -40px) scale(0.6);}
    60% {opacity: 100%;transform: translate(-2px, -60px) scale(0.8);}
    90% {opacity: 100%;transform: translate(2px, -75px) scale(1);}
  }
  
  @keyframes bubble {
    0% {opacity: 50%; transform: translate(3px, -3px) scale(0.1);}
    10% {opacity: 60%;transform: translate(-1px, -15px) scale(0.3);}
    30% {opacity: 80%;transform: translate(4px, -40px) scale(0.6);}
    60% {opacity: 100%;transform: translate(-2px, -60px) scale(0.8);}
    90% {opacity: 100%;transform: translate(2px, -75px) scale(1);}
  }

.typewriter h1{
    color: transparent;
    position : absolute;
    left : 32%;
    bottom : 60px;
    overflow: hidden; 
    white-space: nowrap; 
    margin: auto; 
    font-size: 1.2em;
    font-weight : 500;
    letter-spacing: .2em;
    z-index: 9;
    content:"";
    animation: typing 5s steps(60, end)}
    
.typewriter h4{
    color: transparent;
    position : absolute;
    left : 20%;
    bottom : 30px;
    overflow: hidden; 
    white-space: nowrap; 
    margin: auto; 
    font-size: .8em;
    letter-spacing: .1em;
    border-right: .1em solid transparent;
    z-index: 9;
    content:"";
    animation: typing 2.9s 1s steps(60, end),
         blink_line .4s 1s step-end 30;}
    
@keyframes typing {
      0% { width: 0 ; color: $loader-color-lighter;}
      100%{ width: 100% ;color: $loader-color-lighter;}
}
@keyframes blink_line {
  0%, 100% { border-color: transparent ;}
  50% { border-color: $loader-color-lighter ;}
}
